@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import "_helpers.scss";

@import "_header.scss";
@import "_content.scss";

html, body, .page {
    height: 100%;
}
body {
    background: rgba(236, 241, 248, 0.4);
    font-family: OpenSansRegular;
}
.page {
    &-head {
        @include flex-hc;
        background: #fff;
        box-shadow: 0 12px 12px rgba(0, 0, 0, 0.06);
        &__layout {
            width: 100%;
            max-width: 1240px;
            height: 112px;
            padding: 0 35px;
            @media screen and (max-width: 520px) {
                padding: 0 16px;
            }
        }
    }
    &-content {
        @include flex-hc;
        &__layout {
            display: flex;
            width: 100%;
            max-width: 1240px;
            padding: 32px 35px;
            @media screen and (max-width: 1024px) {
                flex-direction: column;
            }
            @media screen and (max-width: 520px) {
                padding: 16px;
            }
        }
    }
}
